<title>Admin Login</title>

<head>
<%= stylesheet_link_tag "stylesheets/style.css" %>
</head>
<body>
<div id="form_wrapper">
  <form id="login">
    Username:<br>
    <input type="text" name="Username"><br>
    Password<br>
    <input type="text" name="Password"><br>
    <input type="submit" value="Log In">
  </form>

</div>



  
</body>

