body{
    background-color: #C1E1A6;
}

#login_button{
    text-align: center;
}

#form_wrapper{
    position:absolute;
    top:45%;
    left:45%;
    text-align: center;
}

#printForm{
    top: 50%;
}
.header{
font-weight: bold;
text-align: center;
}
.title{
font-weight: bold;
font-size: 75px;
text-align: center;
}
.center_wrapper{
text-align: center;
}
.fileInput{
text-align:center;
}
.navbar-custom {
  background-color: #59aab6;
  border-color: #cecda0;
}