body{
    background-color: #5b6073;
}

h1{
    font-family: "caslon"
}

#login_button{
    text-align: center;
}

#form_wrapper{
    position:absolute;
    top:45%;
    left:45%;
    text-align: center;
}
#printForm{
    top: 50%;
}
li{
        display:inline-block;
        margin-right:10px;
        float:right;
}
.header{
font-weight: bold;
text-align: center;
}
.title{
font-weight: bold;
font-size: 75px;
text-align: center;
}
.center_wrapper{
text-align: center;
}
.fileInput{
text-align:center;
}
.navbar-custom {
  background-color: #59aab6;
  border-color: #cecda0;
}